/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: bottom;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

::selection {
  background: #333333;
  color: #fff;
}

:root {
  scroll-behavior: smooth;
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--huge: 42px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;}
    @media only screen and (min-width: 830px){
      h1, .h1 {
        font-size: 10.2rem;}}
    @media only screen and (min-width: 428px){
      h1, .h1 {
        font-size: 9.6rem;
      }
    }
  /* @media only screen and (max-width: 75em){
    html {
      font-size: 59%;}}
  @media only screen and (max-width: 56.25em){
    html {
      font-size: 56%;}}
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%}} */
body {
  box-sizing: border-box;
  position:relative;
	line-height: 1.3;
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #C6C1BC;
  color: #4469D2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 11;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #C6C1BC;
  backdrop-filter: blur(10px);
}

@media (max-width: 1080px){
  .navbar{
    padding: 0px 40px;
  }
}

.navbar {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: #959DA6;
  counter-reset: item 0;
  z-index: 12;
  background-color: #C6C1BC;
}
.navbar a {
  color: tomato;
  font-size: 18px;
}
.navbar-toggle:hover{
        text-decoration: none;
}

.navbar-toggle {
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
}



.collapse:not(.show){
  display:none;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
}
section {
  margin: 0px auto;
  max-width: 1000px;
}
.home-hero {
  color: white;
  background-image: url(https://res.cloudinary.com/dz7njgq35/image/upload/v1671474511/IMG_0552_dzeomn.jpg);
  background-position: center;
  height:100%;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
  background-size: cover;
  width: 100%;
  border: none;
  border-bottom: #dddddd solid 1px;
}
  /* @media only screen and (max-width: 56.25em){
    .home-hero{
      height: unset;
      min-height: unset;}} */
  @media only screen and (min-width: 1024px){
    .home-hero{
      padding: 6.4rem 4.3rem;}}
  @media only screen and (min-width: 830px){
    .home-hero{
      padding: 9.6rem 4.3rem;}}
  /* @media only screen and (min-width: 428px){
    .home-hero{
      padding: 8rem 4.3rem;}} */
.home-hero__content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width:92%;}
  @media only screen and (max-width: 37.5em){
    .home-hero__content{
      padding: 19rem 0 13rem 0;
      margin: auto;
      position: static;
      transform: translate(0, 0);}}
      .home-hero__info {
        margin: 3rem auto 0 auto;
        max-width: 80rem;
      }

:-webkit-any(article,aside,nav,section) h1 {
  margin-block-start: 0.83em;
  margin-inline-end: 0.83em;
}

.heading-primary {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #081e5c;
    font-weight: 400;
    position:relative}
    @media only screen and (max-width: 37.5em){
      .heading-primary{
        position: relative;}}
        @media only screen and (min-width: 830px){
          .heading-primary {
            font-size: 10.2rem;}}
        @media only screen and (min-width: 428px){
          .heading-primary {
            font-size: 9.6rem;
          }
        }

.heading-intro {
  display: block;
  font-size: 2.6rem;
  color:#4469D2;
  line-height: 1.3;
  margin-bottom: 2.4rem;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}
  

.heading-sec__mb-bg {
  margin-bottom: 11rem;}
  @media only screen and (max-width: 56.25em){
    .heading-sec_mb-bg {
      margin-bottom: 8rem;}}

.heading-sec__mb-med {
  margin-bottom: 9rem;}
  @media only screen and (max-width:56.25em){
    .heading-sec_mb-med{
      margin-bottom: 8rem;}}

.heading-sec__main {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;}
  .heading-sec__main--lt{
    color: #fff;}
    .heading-sec__main--lt::after{
      content: '';
      background: #fff !important;
    }
  .heading-sec__main::after{
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #0062b9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;}
    @media only screen and (max-width: 37.5em){
      .heading-sec__main::after{
        top: calc(100% + 1.2rem);} }


.heading-sec__sub {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;}
  @media only screen and (max-width: 37.5em){
    .heading-sec__sub{
      font-size: 1.8rem;}}
  .heading-sec__sub--lt {
    color: #eee
  }

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.slower {
  transition-delay: 200ms;
}
.bigger-heading {
  color: black!important;
  margin: 0px;
  font-size: 100px;
  font-weight:bolder;
  line-height: 1.1;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: .83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

}
@media (min-width: 50rem){
.container
.imgcontainer{
  height: 39rem;
  width: 48rem;
}
}


.about__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;}
  @media only screen and (max-width: 56.25em){
    .about__content {
      grid-template-columns: 1fr;
      grid-gap: 8rem;
    }
  }

.imgcontainer{
  display:inline-block;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  
}

.about {
  visibility: visible;
  opacity: 1;
  top: 50px;
  max-width: 900px;
}
.about__content-details{
  font-size: 1.8rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;}
  .about__content-details:last-child {
    margin-bottom: 4rem;
  }



p{
  margin: 0px 0px 15px;
}

.dev-icons {
  font-size: 3rem;
  margin-right: 1rem;
  color:#4469D2;
  display: flex;
  justify-content: center;
}

.name-plate {
  color:black;
  font-size: 1rem;
  text-align: center;
}

.fa {
  font-weight: 900;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  margin-right: 1rem;
}

.fab {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-size-adjust: 100%;
}



section.resume-section {
  padding-top: 5rem!important;
  padding-bottom: 5rem!important;
  max-width: 110rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width: 100%;}
@media (min-width: 768px) {
  section.resume-section{
    min-height: 100%;
  }
}
.p-3 {
  padding: 1rem!important;
}
.align-items-center {
  align-items: center!important;
}
.d-flex {
  display: flex!important;
}
.w-100 {
  width: 100%!important;
}
.resume-section h2 {
  display: block;
  margin-bottom: 3rem!important;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  text-size-adjust: 100%;
  line-height: 67.2px;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.sec-pad {
  padding: 12rem 0; }
  @media only screen and (max-width: 56.25em){
    .sec-pad{
      padding: 8rem 0;} }


#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 2em;
}

.contact__form-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 4rem;
  margin-top: 6rem;
  max-width: 80rem;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  margin: 5rem auto 0 auto; }
  @media only screen and (max-width:37.5em){
    .contact__form-container{
      padding: 3rem;}}
  .contact__form-field {
    margin-bottom: 4rem;}
    @media only screen and (max-width: 37.5em){
      .contact__form-field{
        margin-bottom: 3rem;}}
  .contact__form-input {
    color: #333;
    padding: 2rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
  }
  .contact__form-input::placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1.6rem;}
  .contact__btn {
    width: 30%;
    padding: 2rem 4rem;
    font-size: 1.6rem;}
    @media only screen and (max-width: 37.5em){
      .contact__btn{
        width:100%}}


.contact-row h1 {
  color: #4469D2;
  padding-top: 1em;
  padding-bottom: 1em;
}



.main-footer {
  background: #000;}
  .main-footer_upper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0; }
    @media only screen and (max-width: 56.255em){
      .main-footer_upper{
        padding: 6rem 0;}}
    @media only screen and (max-width: 37.5em){
      .main-footer_upper{
        display:block; }}
    .main-footer_row-1 {
      order: 2; }
      @media only screen and (max-width: 56.25em) {
        .main-footer_row-1 {
          margin-bottom: 5rem;}}
    .main-footer_row-2 {
      width: 40%;
      order: 1;
      max-width: 50rem;}
      @media only screen and (max-width: 56.25em){
        .main-footer_row-2 {
          width: 100%;} }
    .main-footer_short-desc {
      margin-top: 2rem;
      color: #eee;
      font-size: 1.5rem;
      line-height: 1.7;}
    .main-footer_social-cont {
      margin-top: 2rem;}
    #main-footer_icon {
      margin-right: 1rem;
      font-size: 64px;}
      #main-footer_icon--mr-none {
        margin-right: 0;}
    .main-footer_lower {
      padding: 4rem 0;
      border-top: 1px solid #4469D2;
      color: #eee;
      font-size: 1.2rem;
      text-align: left;}
      .main-footer_lower a {
        text-decoration: none;
        font-weight: bold;
        margin-left: 2px;}
    @media only screen and (max-width: 56.25em){
      .main-footer_lower{
        padding: 3.5rem 0; }}




.projects__content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;}
  @media only screen and (max-width: 56.25em){
    .projects__content{
      align-items: center;}}
  .projects__title {
      font-weight: 700;
      font-size: 2.8rem;
      margin-bottom: 3rem;}
      @media only screen and (max-width: 37.5em){
        .projects__title{
          font-size: 2.4rem;}}
  .projects__desc {
    font-size: 1.8rem;
    color:#000;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;}
    @media only screen and (max-width: 37.5em){
      .projects__desc{
        font-size: 1.7rem;} }
    
    footer .top {
    position: absolute;
    margin-left: 44%;
    margin-top: -.40em;}  
    
        
    
  
