/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  position:relative;
	line-height: 1.3;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #C6C1BC;
  color: #4469D2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 11;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #C6C1BC;
  backdrop-filter: blur(10px);
}

@media (max-width: 1080px){
  .navbar{
    padding: 0px 40px;
  }
}

.navbar {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: #959DA6;
  counter-reset: item 0;
  z-index: 12;
  background-color: #C6C1BC;
}
.navbar a {
  color: tomato;
  font-size: 18px;
}
.navbar-toggle:hover{
        text-decoration: none;
}

.navbar-toggle {
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
}



.collapse:not(.show){
  display:none;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
}
section {
  margin: 0px auto;
  max-width: 1000px;
}
.top-row {
  color: #959DA6;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  height:100vh;
  padding: 0px;
}
.top-row img {
  object-fit: cover;
  width: 90%;
  height: 80%;
  filter:brightness(96%);
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
  align-items: center;

}
.home-hero_content{
  
  transition-delay: 100ms;
}
:-webkit-any(article,aside,nav,section) h1 {
  margin-block-start: 0.83em;
  margin-inline-end: 0.83em;
}

.heading-primary {
    margin: 0px 0px 30px 4px;
    color: #4469D2;
    font-weight: 400;
    line-height: 1.1;
    display: block;
    margin-inline-start: 4px;
    margin-inline-end: 0px;
}
.slower {
  transition-delay: 200ms;
}
.bigger-heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  line-height: 1.1;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: .83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media (min-width: 50rem){
.container
.imgcontainer{
  height: 39rem;
  width: 48rem;
}
}


.textcontainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  margin: 10px;
}

.imgcontainer{
  display:inline-block;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  
}

main {
  align-items: stretch;
  box-sizing: border-box;
  color:rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display:flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1176px;
  margin:auto;
  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 16px;
  padding-right: 16px;
  text-size-adjust: 100%;
  white-space: normal;
}
.about {
  visibility: visible;
  opacity: 1;
  margin: 10px;
  top: 50px;
  max-width: 900px;
}
#about-title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  white-space: nowrap;
}

@media screen and (max-width:1023px) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
p{
  margin: 0px 0px 15px;
}

.dev-icons {
  font-size: 3rem;
  margin-right: 1rem;
  color:#4469D2;
  display: flex;
  justify-content: center;
}

.name-plate {
  color:black;
  font-size: 1rem;
  text-align: center;
}

.fa {
  font-weight: 900;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
  margin-right: 1rem;
}

.fab {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-size-adjust: 100%;
}



section.resume-section {
  flex-shrink: 0;
  padding-top: 5rem!important;
  padding-bottom: 5rem!important;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
 
}
@media (min-width: 768px) {
  section.resume-section{
    min-height: 100vh;
  }
}
.p-3 {
  padding: 1rem!important;
}
.align-items-center {
  align-items: center!important;
}
.d-flex {
  display: flex!important;
}
.w-100 {
  width: 100%!important;
}
.resume-section h2 {
  display: block;
  margin-bottom: 3rem!important;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  text-size-adjust: 100%;
  line-height: 67.2px;
}